<footer>
    <div class="item">
        <h1>Contact</h1>
        <br>
        <ul>
            <li>Tel:08069592613</li>
            <li>Email: Danielalamba15@gmail.com</li>
        </ul>
    </div>
    <div class="item">
        <h1>Company</h1>
        <br>
        <ul>
            <li>About</li>
            <li>Join Our Team</li>
            <li>Security</li>
            <li>Terms Of service</li>
        </ul>
    </div>
    <div class="item">
        <h2>Address</h2>
        <br>
        <ul>
           
            <li>Mandela Road, Sauka-Kahuta</li>
            <li>Minna</li>
            <li>Niger State</li>
        </ul>
    </div>
</footer>