<section>
   
    
    <div>
        <div class="head  shadow-sm">
            <div class="head-element card-body">
                <h1>Generate Card</h1>
            </div>
            <div class="head-element2">
                <img src="../../assets/Homeimg.png" alt="">
                <div class="card" style="width: 30%;margin: auto;">
                    <div class="card-body">
                        <p>Card Number: 5093000000000000</p>
                    <form>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Card PIN" aria-label="card-pin" aria-describedby="basic-addon1">
                          </div>
                        <div class="input-group mb-3">
                            
                            <input type="text" class="form-control" placeholder="Type Card PIN again" aria-label="card-pin" aria-describedby="basic-addon1">
                          </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
