<main  style="padding: 1.5rem; margin: 2% auto; max-width: 1300px" class="main">
<div class="home">
    <div class="home1">
    <h1 class="wel-head"><span class="word">Welcome </span>to BOAX!</h1>
    <p class="wel-body">
        Your financial journey starts here.
    </p>
    <div class="welcome-buttons">
        <a routerLink="registration"><button class="btn-1">
            Join Us
            </button></a>&nbsp;
        <a routerLink="login">
            <button class="btn-2">
                Login
            </button></a>
        </div>
    </div>
        <div class="home2">
            <img src="../../assets/Homeimg.png" alt="">
        </div>
</div>
    <div class="features" >
        <div class="receive" id="feature">
            
            <div class="feat-img">
        <img src="../../assets/arrow-square-in-light.png">
    </div>
        <div class="description-head-alt" >
            <p>RECEIVE FROM ANYWHERE</p>
        </div>
        <div class="description">
            <p>
            Seemlessly integrated with global<br>
            payment networks, it enables you to<br>
            effortlessly accept funds from abroad<br>
            with just a few steps.
            </p>
        </div>
        
        </div>
        <div class="send" id="feature">
           
            <div class="feat-img2">
            <img src="../../assets/arrow-square-out-light.png">
            </div>
            <div class="description-head" >
                <p>SEND FROM ANYWHERE</p>
            </div>
            <div class="description">
                <p>
                    With just a few taps, you can<br>
                    send money anywhere in<br>
                   the world, effortlessly bridging distances<br>
                   and making financial connectivity a breeze.
                </p>
            </div>
            
        </div>
        <div class="save" id="feature">
            
            <div class="feat-img">
            <img src="../../assets/lock-light.png">
            </div>
            <div class="description-head-alt">
                <p>SAVE FROM ANYWHERE</p>
            </div>
            <div class="description">
                <p>
                    With our intuitive platform, you can<br>
                    effortlessly set aside funds and watch<br>
                    your savings grow, all from the<br>
                    comfort of your fingertips.
                </p>
            </div>
        
        </div>
    </div>
    <div class="customercare" >
        <div class="customerbody">
        <h1>Our high Security and<br>
            Proficient Customer Care</h1>
    <div class="customercare-sub">
    <div class="div-3">
        <p>
            Boax prioritizes the utmost security<br>
            to ensure the protection and <br>
            confidentialityof our users’ financial<br>
            information.<br>
            We have implemented multiple<br> 
            layers of robust secrity measures<br> 
            to safeguard against potential <br>
            threasts and vulnerability
        </p>
    </div>
    <div class="div-2">
        <img src="../../assets/shield.png" width="100">
        <img src="../../assets/phone-light.png" width="100">
        
    </div>
    <div class="div-3">
        <p>
            Our customer care is exceptionally<br>
            proficient and customer-centric.<br>
            With a deep understanding of the <br>
            importance of effective<br>
            communication and support, <br>
            Boax’s customer care team<br>
            delivers outstanding service to<br>
            every user.
        </p>
    </div>
    </div>
</div>
    </div>
    <span class="preabout">
        <img src="../../assets/combination.png">

        <div class="followus">
            <h1>Follow Us</h1>
            <hr>
            <br>
            <span class="socials">
                <img src="../../assets/facebook.png" width="40">
                Facebook
            </span><br>
            <span class="socials">
                <img src="../../assets/email.png" width="30">
                    Email
            </span><br>
            <span class="socials">
                <img src="../../assets/x.png" width="30">
                X
            </span><br>
            <span class="socials">
                <img src="../../assets/instagram.png" width="30">
                Instagram
            </span>
        </div>
    </span>
    <div class="about-section">
        <div class="aboutus">
            <h2>About Us</h2><br>
            <p>
                Welcome to boax, your trusted financial companion in the  digital era. we are a cutting-edge banking organisation that<br>
                combines convenience, security, and innovation to simplify your financial journey.<br>
                At Boax, we understand the evolving needs of our customers and the importance of <br>
                seamless banking experiences. our user-friendly <br>
                interface empowers you to manage your finances effortlessly,<br>
                 whether youre making payments, checking balances or planning for the future<br>
            </p>

        </div>
        
    </div>
</main>